<a href="/">Home</a>
<a href="#!/newquestion">Add a question</a>
<a href="" ng-click="logOut()">logout</a>
<div class="myContainer">

  <div ng-if="recentGame.score" id="recentGame">
    <p>congrats {{currentUser.first_name}} your score is {{recentGame.score}}/3 <span ng-if="recentGame.score === 0">0%</span><span ng-if="recentGame.score === 1">33%</span><span ng-if="recentGame.score === 2">66%</span><span ng-if="recentGame.score === 3">100%</span> </p>
  </div>
  <div id="playButton">
    <a href="#!/letsplay"><button class="btn btn-primary btn-lg">Play</button></a>
    <p>Click the button above to start a trivia game</p>
  </div>
  <div class="search">
    <input type="text" name="" ng-model="search._user.first_name" placeholder="search by name">
    <input type="text" name="" ng-model="search.score" placeholder="search by score">
  </div>


  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Percentage</th>
      </tr>
    </thead>
    <tbody>
      
      <tr ng-repeat="game in games | filter:search:strict | orderBy:'-score'">
        <td>{{game._user.first_name}}</td>
        <td>{{game.score}}/3</td>
        <td ng-if="game.score === 3">100%</td>
        <td ng-if="game.score === 2">66.7%</td>
        <td ng-if="game.score === 1">33.3%</td>
        <td ng-if="game.score === 0">0%</td>
      </tr>
    </tbody>
  </table>
</div>