<style>
    .form .register-form {
        display: block;
    }
</style>
<h1>Welcome to the trivia game!</h1>
    <p>Please sign in or register to begin</p>
<div class="login-page">
    <div class="form">
        <form class="register-form" ng-submit="register()" name="registerForm" novalidate>
            <input type="text" ng-model="user.first_name" placeholder="first name" id="first_name" name="first_name" ng-minlength="2"
            />
            <input type="text" ng-model="user.last_name" placeholder="last name" id="last_name" name="last_name" ng-minlength="2" />
            <div ng-messages="registerForm.first_name.$error" ng-if='registerForm.$dirty'>
                <div ng-message="minlength">This field must be 2 characters long.</div>
            </div>
            <div ng-messages="registerForm.last_name.$error" ng-if='registerForm.$dirty'>
                <div ng-message="minlength">This field must be 2 characters long.</div>
            </div>
            <input type="email" ng-model="user.email" placeholder="email address" name="email" />
            <div ng-messages="registerForm.email.$error" ng-if='registerForm.$dirty'>
                <div ng-message="email">This field must be a valid email address.</div>
            </div>
            <input type="password" ng-model="user.pw" placeholder="password" name="pw" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,32}/" required/>
            <div ng-messages="registerForm.pw.$error" ng-if='registerForm.$dirty' >
                <div ng-message="pattern">Password should a have a number, an upper-case letter and a special charachter, 8-32 chars</div>
            </div>
            <input type="password" ng-model="user.pw_confirm" placeholder="confirm password" name="pw_confirm" compare-to="user.pw" required/>
            <div ng-messages="registerForm.pw_confirm.$error" ng-if='registerForm.pw_confirm.$dirty'>
                <div ng-message="compareTo">Please make sure you're passwords match</div>
            </div>
            <button ng-disabled="registerForm.$invalid" ng-class="{'disabled': registerForm.$invalid}">create</button>
            <p class="message">Already registered? <a href="#!/login">Sign In</a></p>
        </form>
        <!--<p>User: {{user}}</p>-->
    </div>
</div>